<button type="button" title="{{buttonTitle}}" class="dropdown-toggle" data-toggle="dropdown">
  <span><i style="font-size:0.8em;" class="fa fa-map-o"></i></span>
</button>
<ul class="dropdown-menu export-wms-list"></ul>
