.export-wms-list{
  padding: 0;
  margin-bottom: 10px;
  width: 200px;
  left: -100px;
}
.export-wms-link{
  padding: 3px 5px;
  white-space: normal;
}
.eoxc-area-exceed-label{
  position: fixed;
  left: 50%;
  bottom: 4px;
  transform: translate(-50%,-50%);
}
