
<form>
  <div class="form-group">
    <label for="layer-options-opacity">Opacity</label>
    <input type="range" class="form-control" id="layer-options-opacity" min=0 max=1 step=0.01 value={{#if display.opacity includeZero=true}}{{display.opacity}}{{else}}1{{/if}}>
  </div>
</form>
