<a href="#">
  <img src="{{thumbnailUrl}}" alt="{{t 'trying to download thumbnail' }}">
</a>
<div>{{date}}<br/>{{time}}</div>
<button class="btn btn-default btn-xs record-info">
  <i class="fa fa-info-circle" aria-hidden="true"></i>
</button>
