<div class="histogram-switch" id="dynamic-histogram" title="{{dynamic-histogram-title}}" aria-hidden="true">
  <label class="panel-title">
    <input type="checkbox" name="" {{#if enableDynamicHistogram}}checked{{/if}}>
    <span></span>
  </label>
</div>
<!-- 
<div id="dynamic-histogram" class="control ${this.enableDynamicHistogram === true ? 'active' : ''}" title="${i18next.t('dynamic-histogram-title')}"><i class="fa fa-map-marker" aria-hidden="true"></i></div> -->