<div class="panel-heading">
    {{#if closeable}}<button type="button" class="close"><i class="fa fa-times-circle"></i></button>{{/if}}
    <h3 class="panel-title">{{#if icon}}<i class="fa fa-fw {{icon}}"></i> {{/if}}{{title}}</h3>
</div>
<div class="panel-body">
    <div class="window-content"></div>
</div>
