<!-- {{id}}
<img src="{{browseUrl}}"> -->
<div class="record-details-map" style="width: 100%; margin-left: -15px; margin-top: -15px; height: 500px" />
{{#if description}}
  <h4>{{t 'Description'}}</h4>
  {{description}}
{{/if}}
