<div class="record-details-map"/>
{{#if description}}
<div class="record-details-description">
    <div class="record-details-description-inner">
        {{#if headerText}}
        <div class="record-details-header-text">
            {{headerText}}
        </div>
        {{/if}}
        <b class="record-details-title">{{title}}</b>
        {{{description}}}
    </div>
</div>
{{/if}}
