/*.panel-body::-webkit-scrollbar {
    display: none;
}*/

.panel-result-list {
  /*overflow: hidden;*/
}

.panel-result-list .panel-body {
  /*max-height: 400px;
  overflow: auto;*/
}

.search-result-list {
  /*height: 100%;*/
  /*overflow-y: auto;
  overflow-x: hidden;*/
}


.search-result-list .spacer {
  margin: 0;
  padding: 0;
  height: 0;
  width: 100%;
}
