<a href="#">
  <img src="{{thumbnailUrl}}" alt="{{id}}">
</a>
<div>{{date}}<br/>{{time}}</div>
<button class="btn btn-default btn-xs">
  <i class="fa fa-info-circle" aria-hidden="true"></i>
</button>
