.search-result-view {
  height: 100%;
}
.result-contents {
  height: -moz-calc(100% - 39px);
  height: -webkit-calc(100% - 39px);
  height: -o-calc(100% - 39px);
  height: calc(100% - 39px);
}

.download-control {
  width: 100%;
  margin-bottom: 5px;
}

.form-control {
  min-width: 0;
  width: auto;
  display: inline;
}

.panel-footer {
  padding: 5px !important;
}
