<div class="dropdown">
  <button class="btn btn-default btn-block dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <span class="selected-layer-names"></span>
    <span class="global-search-status"></span>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li>
      <form>
        {{#each layers}}
        <div class="checkbox">
          <label {{#unless this.display.visible}}style="display:none;"{{/unless}}>
            <input type="checkbox" checked data-layer="{{this.id}}">
            {{this.displayName}}
            <span class="search-status"></span>
          </label>
        </div>
        {{/each}}
      </form>
    </li>
  </ul>
</div>

<div class="result-contents"></div>
<button class="btn btn-sm btn-block btn-default select-all">{{t 'Select all'}}</button>
