<div class="result-contents"></div>
<div class="row">
  <div class="input-group download-control">
    <span class="input-group-addon">{{t 'Format'}}:</span>
    <select class="form-control">
      <option selected>{{t 'native format'}}</option>
      <option value="image/tiff">TIFF</option>
      <option value="image/png">PNG</option>
    </select>
    <span class="input-group-btn">
      <button class="btn btn-default" type="button" id="start-download">{{t 'Download'}}</button>
    </span>
  </div>
</div>
<div id="download-elemements" style="display: none;"></div>
