.result-list-item {
  width: 100px;
  position: relative;
}

.result-list-item img {
  max-width: 100px;
  max-height: 100px;
  margin: 0;
  padding: 0;
}

.result-list-item input[type="checkbox"] {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
