/*.panel-body::-webkit-scrollbar {
    display: none;
}*/

.panel-result-list {
  /*overflow: hidden;*/
  max-height: 500px;
  overflow: scroll;
}

.panel-result-list .panel-body {
  /*max-height: 400px;
  overflow: auto;*/
}
