<h4 data-toggle="collapse" data-target="#result-list-{{layerId}}" aria-expanded="false" aria-controls="#result-list-{{layerId}}">{{layerName}}</h4>
<ul id="result-list-{{layerId}}" class="collapse in list-unstyled"></ul>
