.result-list {
  margin: -5px 0 0 -5px;
}

.result-list-item {
  width: 112px;
  position: relative;
  padding: 5px !important;
  margin: 5px 0 0 5px;
  border: 1px solid transparent;
  border-color: #ddd;
  border-radius: 4px;
  text-align: center;
}

.result-list-item:hover, .result-list-item.highlighted {
  background-color: #e6e6e6;
  border-color: #adadad;
}

.result-list-item.selected-for-download {
  border-color: red !important;
}

.result-list-item a {
  display: block;
  height: 100px;
}

.result-list-item img {
  max-width: 100px;
  max-height: 100px;
  margin: 0;
  padding: 0;
}

.result-list-item input[type="checkbox"] {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.result-list-item button {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
}

.result-list-item:hover button {
  display: block;
}
