.download-view {
  height: 100%;
}

.download-view .selection-lists {
  height: calc(100% - 60px);
  overflow-y: auto;
}

.download-control {
  position: absolute;
  width: calc(100% - 10px);
  margin-bottom: 5px;
  bottom: 0px;
}

.download-control .checkbox {
  width: 100%;
}
