<div class="panel panel-default">
  <div class="panel-heading" role="tab">
    <h4 class="panel-title">
      <a role="button" data-toggle="collapse" href="#collapse-{{layerId}}" aria-expanded="true">
        {{layerName}}
        <span class="caret"></span>
      </a>
    </h4>
  </div>
  <div id="collapse-{{layerId}}" class="panel-collapse panel-result-list collapse in" role="tabpanel">
    {{#if enableFullResolutionDownload}}
      <button class="btn btn-sm btn-block btn-default btn-download-full-res" type="button" {{#unless automaticSearch}}disabled{{/unless}}>{{t 'Download full resolution raster'}}</button>
    {{/if}}
    <div class="selection-body">
      <ul class="selection-items list-unstyled list-inline"></ul>
    </div>
  </div>
</div>
