<div class="panel panel-default">
  <div class="panel-heading" role="tab">
    <h4 class="panel-title">
      <a role="button" data-toggle="collapse" href="#collapse-{{layerId}}" aria-expanded="true">
        {{layerName}}
        <span class="caret"></span>
      </a>
    </h4>
  </div>
  <div id="collapse-{{layerId}}" class="panel-collapse panel-result-list collapse in" role="tabpanel">
    <div class="panel-body">
      <ul class="selection-items list-unstyled list-inline"></ul>
    </div>
  </div>
</div>
