
  <div class="modal-dialog modal-sm" style=" margin-left: 100px; top: 300px; width: calc(100% - 200px); z-index:10001" role="document">

  <div class="loader" style="  border: 16px solid #99b5c9 ;
  border-radius: 50%;
  margin-left: 50%;
  border-top: 16px solid #f3f3f3;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;"></div>
</div>

